
/* Navbar styles  */

#nav-bottom-push {
  height:50px;
  
} 

#intro-2col{
  margin-bottom:45px;
}

  @media only screen and (max-width: 975px) {
  #nav-bottom-push {
    height:100px;
  }
}

  @media only screen and (max-width: 380px) {
  #nav-bottom-push {
    height:260px;
  }
}

