<div class="job-title" style="margin-bottom:4px"><strong> {{job['title']}} </strong> 
<div class="row"> 
  <div class="col-9">
    <div> Location: {{job['location']}} </div>
            
    {% if 'salary' in job %}
      <div class="border-bottom" style="margin-bottom:25px"> Salary: {{job['salary']}} </div> 
    {% endif %}
    
    </div>

<!--   Will update href link to dynamic -->
  <div class='col-3'> <a href="https://google.com/"  type="button" class="btn btn-outline-primary"> Primary</button></div>
</div>
</div> s